<%= form_for song do |f| %>

    <% if song.errors.any? %>
        <ul>
            <% song.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <h4>Song</h4>
    <%= f.label 'Title:' %>
    <%= f.text_field :title %><br>
    <br>

    <h4>Genre</h4>
    <%= f.label 'Select:' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
    <br>

    <%= f.fields_for :genre do |g| %><br>
        Or enter in a new genre name:
        <%= g.text_field :name %>
    <% end %>
    <br>

    <h4>Artist</h4>
    <%= f.label 'Select an artist:' %>
    <%= f.collection_select :artist_id, Artist.all, :id, :name, include_blank: true %>
    <br>
    
    <%= f.fields_for :artist do |a| %><br>
        Or enter in a new artist name:
        <%= a.text_field :name %>
    <% end %>
    <br>

    <h4>Add Notes</h4>
    <%= f.label 'Note:' %>
    <%= f.fields_for :notes do |n| %><br> 
        <%= n.text_field :content %>
    <% end %>
    
    <br>
    <br>
    <%= f.submit %>
<% end %>